In [1]:
#set types
#Access set items
#loop through the set ,and print the values
thisset = {"apple","banana","cherry"}
for x in thisset:
    print(x)

banana
apple
cherry

In [3]:
#check if "banana" is present in the set
thisset = {"apple","banana","cherry"}
print("banana" in thisset)

True

In [4]:
#Add set items
thisset = {"apple","banana","cherry"}
thisset.add("orange")
print(thisset)

{'banana', 'apple', 'orange', 'cherry'}

In [5]:
#Add elements from tropical into thisset:
thisset = {"apple","banana","cherry"}
tropical = {"pineapple","mango","papaya"}
thisset.update(tropical)
print(thisset)

{'banana', 'papaya', 'mango', 'pineapple', 'apple', 'cherry'}

In [6]:
#remove "banana" by using the remove() method:
thisset = {"apple","banana","cherry"}
thisset.remove("banana")
print(thisset)

{'apple', 'cherry'}

In [1]:
#join set
Set Methods
Python has a set of built-in methods that you can use on sets.

Method	Shortcut	Description
add()	 	Adds an element to the set
clear()	 	Removes all the elements from the set
copy()	 	Returns a copy of the set
difference()	-	Returns a set containing the difference between two or more sets
difference_update()	-=	Removes the items in this set that are also included in another, specified set
discard()	 	Remove the specified item
intersection()	&	Returns a set, that is the intersection of two other sets
intersection_update()	&=	Removes the items in this set that are not present in other, specified set(s)
isdisjoint()	 	Returns whether two sets have a intersection or not
issubset()	<=	Returns whether another set contains this set or not
 	<	Returns whether all items in this set is present in other, specified set(s)
issuperset()	>=	Returns whether this set contains another set or not
 	>	Returns whether all items in other, specified set(s) is present in this set
pop()	 	Removes an element from the set
remove()	 	Removes the specified element
symmetric_difference()	^	Returns a set with the symmetric differences of two sets
symmetric_difference_update()	^=	Inserts the symmetric differences from this set and another
union()	|	Return a set containing the union of sets
update()	|=	Update the set with the union of this set and others

SyntaxError: invalid syntax (1738005290.py, line 2)

In [2]:
#union set
set1 = {"a","b","c"}
set2 = {1,2,3}
set3 = set1.union(set2)
print(set3)

{'b', 'c', 1, 2, 'a', 3}

In [3]:
#join multiple sets with the union() method:
set1 = {"a","b","c"}
set2 = {1,2,3}
set3 = {"John","Elena"}
set4 = {"apple","bananas","cherry"}
myset = set1.union(set2,set3,set4)
print(myset)

{'b', 'c', 1, 2, 'a', 3, 'John', 'apple', 'bananas', 'cherry', 'Elena'}

In [6]:
#use | to join two sets:
set1 = {"a","b","c"}
set2 = {1,2,3}
set3 = {"John","Elena"}
set4 = {"apple","bananas","cherry"}
myset1 = set1|set2|set3|set4
print(myset1)

{'b', 'c', 1, 2, 'a', 3, 'John', 'apple', 'bananas', 'cherry', 'Elena'}

In [7]:
#update set:
set1 = {"a","b","c"}
set2 = {1,2,3}
set1.update(set2)
print(set1)

{'b', 'c', 1, 2, 'a', 3}

In [2]:
#intersection
set1 = {"apple","banana","cherry"}
set2 = {"google","microsoft","apple"}
set3 = set1.intersection(set2)
print(set3)

{'apple'}

In [3]:
#use & to join sets
set1 = {"apple","banana","cherry"}
set2 = {"google","microsoft","apple"}
set3 = set1 & set2
print(set3)

{'apple'}

In [4]:
#intersection_update
#keep the items that exist in both set1,and set2:
set1 = {"apple","banana","cherry"}
set2 = {"google","microsoft","apple"}
set1.intersection_update(set2)
print(set1)

{'apple'}

In [5]:
#Difference
set1 = {"apple","banana","cherry"}
set2 = {"google","microsoft","apple"}
set3 = set1.difference(set2)
print(set3)

{'banana', 'cherry'}

In [6]:
#Difference_update
set1 = {"apple","banana","cherry"}
set2 = {"google","microsoft","apple"}
set1.difference_update(set2)
print(set1)

{'banana', 'cherry'}

In [7]:
#Symmetric difference
set1 = {"apple","banana","cherry"}
set2 = {"google","microsoft","apple"}
set3 = set1.symmetric_difference(set2)
print(set3)

{'banana', 'google', 'cherry', 'microsoft'}

In [8]:
#Symmetric_difference_update
set1 = {"apple","banana","cherry"}
set2 = {"google","microsoft","apple"}
set1.symmetric_difference_update(set2)
print(set1)

{'banana', 'google', 'cherry', 'microsoft'}