In [3]:
#DataFrame operations
import pandas as pd

#create a sample DataFrame
data = {
    'A': [1,2,2,3,4,4,4,5],
    'B': ['foo','bar','foo','bar','foo','bar','foo','bar']
}

df = pd.DataFrame(data)

#Count occurrence of each value in column 'A'
count_A = df['A'].value_counts()
print("Count of each value in column 'A':")
print(count_A)

#Apply a function to column 'A' (e.g.,square each value)
df['A_squared'] = df['A'].apply(lambda x: x ** 2)
print("\nDataFrame with 'A_squared':")
print(df)

#Find unique values in column 'B'
unique_B = df['B'].unique()
print("\nunique values in column 'B':")
print(unique_B)

#Count unique values in column 'B'
unique_count_B = df['B'].nunique()
print("\ncount of unique values in column 'B':")
print(unique_count_B)

Count of each value in column 'A':
A
4    3
2    2
1    1
3    1
5    1
Name: count, dtype: int64

DataFrame with 'A_squared':
   A    B  A_squared
0  1  foo          1
1  2  bar          4
2  2  foo          4
3  3  bar          9
4  4  foo         16
5  4  bar         16
6  4  foo         16
7  5  bar         25

unique values in column 'B':
['foo' 'bar']

count of unique values in column 'B':
2

In [4]:
print(df.head())

   A    B  A_squared
0  1  foo          1
1  2  bar          4
2  2  foo          4
3  3  bar          9
4  4  foo         16

In [5]:
print(df.tail())

   A    B  A_squared
3  3  bar          9
4  4  foo         16
5  4  bar         16
6  4  foo         16
7  5  bar         25

In [7]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   A          8 non-null      int64
 1   B          8 non-null      object
 2   A_squared  8 non-null      int64
dtypes: int64(2), object(1)
memory usage: 324.0+ bytes
None

In [8]:
print(df.describe())

              A  A_squared
count  8.000000   8.000000
mean   3.125000  11.375000
std    1.356203   8.210403
min    1.000000   1.000000
25%    2.000000   4.000000
50%    3.500000  12.500000
75%    4.000000  16.000000
max    5.000000  25.000000

In [2]:
#selection:
import pandas as pd
data={'Name':['Alice','Bob','Charlie','David','Evil'],
      'Age' :[24,27,22,32,29],
      'city' :['New York','Los Angels','chicago','Houston','Phoenix']
     }
df=pd.DataFrame(data)

In [3]:
#selecting the 'Name' column:
name_column=df["Name"]
print(name_column)

0      Alice
1        Bob
2    Charlie
3      David
4       Evil
Name: Name, dtype: object

In [4]:
#selecting name and age column:
name_age_column=df[['Name','Age']]
print(name_age_column)

      Name  Age
0    Alice   24
1      Bob   27
2  Charlie   22
3    David   32
4     Evil   29

In [5]:
#selecting rows with label 1
row_by_label=df.loc[1]
print(row_by_label)

Name           Bob
Age             27
city    Los Angels
Name: 1, dtype: object

In [6]:
#By position('iloc')
row_by_position=df.iloc[2]
print(row_by_position)

Name    Charlie
Age          22
city    chicago
Name: 2, dtype: object

In [7]:
subset_by_label=df.loc[1:3,['Name','city']]
print(subset_by_label)

      Name        city
1      Bob  Los Angels
2  Charlie     chicago
3    David     Houston

In [10]:
#selecting specific rows and column by position
subset_by_position=df.iloc[1:4,0:2]
print(subset_by_position)

      Name  Age
1      Bob   27
2  Charlie   22
3    David   32

In [11]:
#conditional selection
#selecting rows where 'Age' is greater than 25
age_greater_25=df[df['Age']>25]
print(age_greater_25)

    Name  Age        city
1    Bob   27  Los Angels
3  David   32     Houston
4   Evil   29     Phoenix

In [14]:
#selecting rows where 'Age' is greater than 25 and city is 'new'
conditioned_rows=df[(df['Age']>25)&(df['city']=='New York')]
print(conditioned_rows)

Empty DataFrame
Columns: [Name, Age, city]
Index: []

In [15]:
#Adding a new column 'country' with a constant value
df['Country']='USA'
print("\nDataFrame after adding 'Country' column:\n",df)

DataFrame after adding 'Country' column:
       Name  Age        city Country
0    Alice   24    New York     USA
1      Bob   27  Los Angels     USA
2  Charlie   22     chicago     USA
3    David   32     Houston     USA
4     Evil   29     Phoenix     USA

In [17]:
#Delecting the 'city' column
df=df.drop(columns=['city'])
print("\nDataFrame after deleting 'city' column:\n",df)

DataFrame after deleting 'city' column:
       Name  Age Country
0    Alice   24     USA
1      Bob   27     USA
2  Charlie   22     USA
3    David   32     USA
4     Evil   29     USA

In [20]:
#Deleting the country column
del df['Country']
print("\nDataFrame after deleting 'City' column:\n",df)

DataFrame after deleting 'City' column:
       Name  Age
0    Alice   24
1      Bob   27
2  Charlie   22
3    David   32
4     Evil   29

In [21]:
#updating column
#updating the 'Age' column to be increased by 1
df['Age']=df['Age']+1
print("\nDataFrame after updating 'Age' column:\n",df)

DataFrame after updating 'Age' column:
       Name  Age
0    Alice   25
1      Bob   28
2  Charlie   23
3    David   33
4     Evil   30

In [22]:
#selecting "Name"as index
df_with_index=df.set_index('Name')
print("\nDataFrame with 'Name' as the index:\n",df_with_index)

DataFrame with 'Name' as the index:
          Age
Name
Alice     25
Bob       28
Charlie   23
David     33
Evil      30

In [24]:
#Dropping to index to remove it
df_no_index=df.reset_index(drop=True)
print("\nDataFrame after removing the index:\n",df_no_index)

DataFrame after removing the index:
       Name  Age
0    Alice   25
1      Bob   28
2  Charlie   23
3    David   33
4     Evil   30

In [25]:
#Operation
data={
    'A':[10,20,30,40,50],
    'B':[1,2,3,4,5]
}
df=pd.DataFrame(data)
print("Original DataFrame:\n",df)

Original DataFrame:
     A  B
0  10  1
1  20  2
2  30  3
3  40  4
4  50  5

In [26]:
#Addition
df['A_plus_B']=df['A']+df['B']
print("\nDataFrame after adding column 'A' and 'B':\n",df)

DataFrame after adding column 'A' and 'B':
     A  B  A_plus_B
0  10  1        11
1  20  2        22
2  30  3        33
3  40  4        44
4  50  5        55

In [27]:
#substraction
df['A_minus_B']=df['A']-df['B']
print("\nDataFrame after substracting column 'A' and 'B':\n",df)

DataFrame after substracting column 'A' and 'B':
     A  B  A_plus_B  A_minus_B
0  10  1        11          9
1  20  2        22         18
2  30  3        33         27
3  40  4        44         36
4  50  5        55         45

In [28]:
#Multiplication
df['A_times_B']=df['A']*df['B']
print("\nDataFrame after multiplying column 'A' and 'B':\n",df)

DataFrame after multiplying column 'A' and 'B':
     A  B  A_plus_B  A_minus_B  A_times_B
0  10  1        11          9         10
1  20  2        22         18         40
2  30  3        33         27         90
3  40  4        44         36        160
4  50  5        55         45        250

In [29]:
#Division
df['A_div_B']=df['A']/df['B']
print("\nDataFrame after dividing column 'A' and 'B':\n",df)

DataFrame after dividing column 'A' and 'B':
     A  B  A_plus_B  A_minus_B  A_times_B  A_div_B
0  10  1        11          9         10     10.0
1  20  2        22         18         40     10.0
2  30  3        33         27         90     10.0
3  40  4        44         36        160     10.0
4  50  5        55         45        250     10.0